repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.0
    hooks:
      - id: ruff-format
      - id: ruff
        args: ["--fix"]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy .
        language: system
        pass_filenames: false
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        pass_filenames: false
